/* Audiotap: a program for playing TAP files or converting them to WAV files,
 * and to convert C64 tapes to TAP files
 *
 * Copyright (c) Fabrizio Gennari, 2003
 *
 * The program is distributed under the GNU General Public License.
 * See file LICENSE.TXT for details.
 *
 * audiotap.rc : Windows resources (windows, how they are designed...)
 * 
 * This file is shared between the audio->tap part and the tap->audio part
 * This file is part of the Windows GUI version of Audiotap
 */

#include "resource.h"

#include "winuser.h"
#include "winnt.h"

IDD_MAINWINDOW DIALOGEX 0, 0, 186, 146
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_ACCEPTFILES
CAPTION "Audiotap"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,129,125,50,14,WS_GROUP
    CONTROL         "Convert from a TAP file",IDC_FROM_TAP,"Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_GROUP | WS_TABSTOP,7,7,89,10
    CONTROL         "Create a TAP file",IDC_TO_TAP,"Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_TABSTOP,7,60,69,10
    CONTROL         "to a sound",IDC_TO_SOUND,"Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_GROUP | WS_TABSTOP,27,19,49,10
    CONTROL         "to a WAV file",IDC_TO_WAV,"Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_TABSTOP,27,33,57,10
    CONTROL         "Inverted waveform",IDC_FROM_TAP_INVERTED,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_GROUP | WS_TABSTOP,29,48,75,10
    PUSHBUTTON      "Advanced options",IDC_FROM_TAP_ADVANCED,109,47,70,13,WS_DISABLED | WS_GROUP
    CONTROL         "from a sound",IDC_FROM_SOUND,"Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_GROUP | WS_TABSTOP,29,71,57,10
    CONTROL         "from an audio file (WAV or similar)",IDC_FROM_WAV,
                    "Button",BS_AUTORADIOBUTTON | WS_DISABLED | WS_TABSTOP,29,85,121,10
    CONTROL         "Inverted waveform",IDC_TO_TAP_INVERTED,"Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_GROUP | WS_TABSTOP,29,108,75,10
    PUSHBUTTON      "Advanced options",IDC_TO_TAP_ADVANCED,109,107,70,13,WS_DISABLED | WS_GROUP
    PUSHBUTTON      "About",IDC_ABOUT,7,126,45,13
END

IDD_STATUS DIALOG  0, 0, 186, 95
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Audiotap progress status"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Cancel",IDC_STOP,70,74,50,14
    LTEXT           "Origin",IDC_ORIGIN,7,17,172,11
    LTEXT           "Destination",IDC_DESTINATION,7,29,172,9
    LTEXT           "Progress indication",IDC_WHAT_PROGRESSBAR_MEANS,7,45,60,8
    CONTROL         "Progress1",IDC_PROGRESSBAR,"msctls_progress32",0x0,7,57,172,10
END

IDD_TO_TAP_ADVANCED DIALOGEX 0, 0, 163, 154
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Audio->TAP advanced options"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,5,138,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,109,138,50,14
    EDITTEXT        IDC_TO_TAP_ADVANCED_MIN_DURATION,129,7,32,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_TO_TAP_ADVANCED_MIN_HEIGHT,129,30,32,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_TO_TAP_ADVANCED_FREQ,129,54,32,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_INITIAL_THRESHOLD,129,81,32,12,ES_AUTOHSCROLL | ES_NUMBER
    COMBOBOX        IDC_CLOCKS,43,106,118,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "PAL",IDC_VIDEOTYPE_PAL,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,71,124,47,10
    CONTROL         "NTSC",IDC_VIDEOTYPE_NTSC,"Button",BS_AUTORADIOBUTTON,129,124,32,10
    LTEXT           "Minimum distance between a max and a min (in samples)",IDC_STATIC,3,7,110,17
    LTEXT           "Sensitivity (0-100)",IDC_STATIC,3,30,106,21
    LTEXT           "Input frequency (Hz) (only for conversions from sound card)",IDC_STATIC,3,57,111,17
    LTEXT           "Initial threshold (0-255)",IDC_STATIC,3,81,111,17
    LTEXT           "Machine",IDC_STATIC,3,106,40,12,SS_CENTERIMAGE
    LTEXT           "Video type",IDC_STATIC,3,124,51,13
END

IDD_FROM_TAP_ADVANCED DIALOGEX 0, 0, 156, 89
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "TAP->audio advanced options"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,5,69,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,101,69,50,14
    EDITTEXT        IDC_FROM_TAP_ADVANCED_VOLUME,120,4,32,12,ES_AUTOHSCROLL | ES_NUMBER
    EDITTEXT        IDC_FROM_TAP_ADVANCED_FREQ,120,26,32,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Volume (1-255)",IDC_STATIC,4,4,73,12
    LTEXT           "Output frequency (Hz)",IDC_STATIC,4,26,73,12
    COMBOBOX        IDC_WAVEFORM,93,48,60,58,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Waveform",IDC_STATIC,4,48,73,12
END

IDD_ABOUT DIALOGEX 0, 0, 148, 193
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "About Audiotap"
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,48,174,50,14
    CTEXT           "Audiotap 1.6",IDC_STATIC,7,7,134,8
    CTEXT           "Copyright (C) Fabrizio Gennari 2003-2011",IDC_STATIC,8,18,133,8
    CTEXT           "Distributed under the GNU General Public License: see file LICENSE.TXT",IDC_STATIC,7,28,134,21
    RTEXT           "portaudio.dll status",IDC_STATIC,5,54,67,19
    RTEXT           "audiofile.dll status",IDC_STATIC,5,84,67,19
    LTEXT           "",IDC_AUDIOFILE_STATUS,83,84,59,19
    LTEXT           "",IDC_PABLIO_STATUS,83,54,59,19
    RTEXT           "tapencoder.dll status",IDC_STATIC,5,114,67,19
    RTEXT           "tapdecoder.dll status",IDC_STATIC,5,144,67,19
    LTEXT           "",IDC_TAPDECODER_STATUS,83,144,59,19
    LTEXT           "",IDC_TAPENCODER_STATUS,83,114,59,19
END

IDD_CHOOSE_TAP_VERSION DIALOGEX 0, 0, 177, 33
STYLE DS_SETFONT | WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "MS Sans Serif", 0, 0, 0x0
BEGIN
    LTEXT           "TAP version",IDC_STATIC,7,11,42,8
    COMBOBOX        IDC_CHOOSE_TAP_VERSION,63,7,107,32,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDI_ICON                ICON                    "audiotap.ico"
